# dependencies
/node_modules
/.pnp
.pnp.js

# electron-builder output
/dist
/dist-*

# electron
*.log

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# logs
/logs
*.log

# outputs
/outputs
/outputs/*
!/outputs/.gitkeep

# backgrounds
/public/backgrounds
/public/backgrounds/*
!/public/backgrounds/.gitkeep

# releases (keep the folder but not the builds)
/releases
!/releases
